/* || General setup */
:root{
  background-color: rgb(183, 181, 181);
}

.header-container {
  color: black;
  background-color: lightgreen;
  display: flex;
  font-family: 'Apple Chancery';
  font-weight: bolder;
  font-stretch: ultra-expanded;
  /* horizontally centers content */
  justify-content: center;
  
  
}



.header {
  width: 500px;
  /* setting the height here dictates the height of the row
  if it is not set with the height property, rows will be automatically be the height of their content
  */
  height: 150px;
  display: flex;
  justify-content: space-around;

  /* vertically centers content */
  /* align-items: center; */
  
}
.header, .logo{
  align-items: center;
}

.bird-img{
  width: 50px;
  height: 50px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.menu-container {
  color: #fff;
  background-color:lightgreen;
  /* Blue */
  

  /* makes the menu-container element a flex container 
    enables flexbox layout mode - other flexbox properties 
    will be ignored by the browser if we do not add this */
  

  /* define the horizontal alignment of the flex container's items */
  justify-content: space-around;
}


.menu-header {
  border: 30px solid greenyellow;
  background-color: greenyellow;
  /* width: 1000px; */
  /* .menu element is a nested flex container */
  display: flex;
  /* distritbute child elements equally */
  justify-content: space-around;
  margin: 10px 0px 10px 0px; 
  color: black;
}


.middle{
  background-color: lightgreen;
  padding: 200px; 
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
  /* align-items:center; */
}

.float-child1 {
  background-color:  greenyellow;
  width: 1000px;
  float: left;
  padding: 20px;
  border: 2px solid red;
   
} 
.float-child2 {
  background-color:  greenyellow;
  width: 1000px;
  float: left;
  display: flex;
  padding: 20px;
  border: 2px solid red;
  flex-direction: row;
  
} 


.img{
  width: 120px;
  height: 120px;
}

.footer{
  background-color: lightgreen;
  height: 100px;
}
